@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body {
  background: url("gym.jpeg");
  background-size: cover;
  color: #FFF;
  font-family: 'Fredericka the Great', cursive;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

h1::first-letter {
  color: #FF5733;
}

.textbox {
  margin: 280px auto;
  width: 10%;
}